.DS_Store
test_images
test_json
new_label_data*/
uploaded_files
models
API/domain/class_labeling/TOP&BOTTOM(ver.4).pt
API/domain/class_labeling/yolov8x.pt
runs
codes
frontend/node_modules
images
API/labels/
API/failed/
API/visualized/
API/failed_images
API/failed_log
TOP&BOTTOM(ver.4).pt
failed_images.txt
failed_log.csv